/* body text defaults */
body {
    font-family: Lato, sans-serif;
    margin: 0;
}

/* heading */
h1 { 
    color: #14532D;
    font-family: Playfair, serif;
    font-size: 42px;
}
/* paragraph */
p {
    color: #C97C5D;  
    font-family: Lato, sans-serif;
    font-size: 20px;
    line-height: 1.6;
}
